.scroll-top-button {
  width: 75px;
  height: 75px;
  position: fixed;
  right: 20px;
  bottom: 50px;
  background-image: url('../../assets/images/scroll-top.png');
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
}

.scroll-top-button.hide {
  display: none;
}
